:root {
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    --primary-color: #0B65C2;
    --primary-color-variant: #064686;  
    --secondary-color: white;
    --secondary-color-variant: #F3F2EE; 
    background: var(--secondary-color-variant);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .75rem;
}

/* NAVBAR  */

.navbar {
    display: flex;
    position: fixed;
    justify-content: center;
    width: auto;
    height: 30px;
    padding: 13px;
    background: var(--secondary-color);
    z-index: 1;
}

.navbar-items {
    display: flex;
    min-width: 768px;
    width: 100vw;
    justify-content: center;
}

.navbar-section-1 {
    display: flex;
    width: 530px;
}

.logo {
    display: flex;
    width: 34px;
    height: 34px;
}

.input-container {
    display: flex;
    width: 300px;
    height: 34px;
    background: var(--secondary-color-variant);
    border-radius: 5px;
    margin-left: 5px;
}

.search {
    width: 300px;
    height: 32px;
    background: var(--secondary-color-variant);
    border: none;
}

.input-container label {
    height: 34px;
    padding: 10px;
}

.navbar-section-2 {
    display: flex;
    width: 470px;
    justify-content: space-between;
}

.section-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22px;
    height: 36px;
    font-size: .60rem;
    flex-wrap: nowrap; 
}

.icon {
    width: 20px;
    height: 20px;
}

.nav-profile-icon-div {
    display: flex; 
    flex-direction: column;
    width: 80px;
    align-items: center;
    font-size: .60rem;
    flex-wrap: nowrap;  
}

.nav-profile-icon-div img {
    border-radius: 50%;
    width: 25.39px;
    height: 25.39px;
}

/* Body Control - Class to center all the main body */

.body-control {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* MAINBODY */

.main-body {
    display: flex;
    flex-direction: column;   
    min-width: 768px;
    width: 976px;
}

/* HEADER  */

.header {
    display: flex;
    flex-direction: column;
    width: 976px;
}

.header-image {
    display: inline-block;
    position: relative;
    height: 200px;
    overflow: hidden; 
    background-image: url("images/headerimage.PNG");
}

.profile-pic img {  
    position: absolute; 
    width: 150px;
    height: 150px;
    border: 5px solid var(--secondary-color);
    border-radius: 50%;
    margin-left: 37px;
    overflow: hidden;
    transform: translateY(-65%);
}

.profile-infos {
    display: flex;
    flex-direction: column;
    height: 185px;
    background-color: var(--secondary-color);
    padding-top: 60px;
    padding-left: 37px;
}

.profile-infos h2 {
    margin-bottom: 5px;
    font-style: bold;
}

.profile-infos h3, h4 {
    margin-bottom: 5px;
}

.button-div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1rem;
}

.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
}

.button:hover {
    filter: brightness(90%);
    text-decoration: underline;
}

.button-variant {
    background-color: var(--secondary-color);
    border: 1px solid black ;
    border-radius: 20px;
    padding: 10px 25px;
}

.button-variant:hover {
    filter: brightness(90%);
    text-decoration: underline;
}

/* Professional Section */

.professional-section {
    height: 100vw;
    background-color: var(--secondary-color);
    margin-top: 35px;
    padding: 36px;
}

.professional-section-title {
    padding-bottom: 16px;
    font-style: bold;
    border-bottom: 2px solid var(--secondary-color-variant);
}

.professional-skill {
    display: flex;
    padding: 16px;
}

.professional-skill img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.professional-skill-description {
    display: flex;
    flex-direction: column;
}

.professional-skill-description h3, h4, h5 {
    margin-bottom: 8px;
}
